.rhap_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1;
  width: 90%;
  margin: auto;
  padding: 10px 15px;
  background-color: #fff;
  box-shadow: none;
}
